<!--<div class="span4 offset1">-->
<div class="span4 pull-left">
  <%= link_to 'This Week', '/schedule/weekly' %> |
  <%= link_to 'This Month', '/schedule/monthly' %> |
  <%= link_to 'Today', '/schedule/daily' %> |
  <%= link_to 'All', '/schedule' %>
</div>
<!--<div class="span4 offset1 pull-right">-->
<div class="span4 offset1">
  <%= link_to 'Next Week', '/schedule/next_week', :embedded => params[:embedded] %> |
  <%= link_to 'Next Month', '/schedule/next_month' %> |
  <%= link_to 'Tomorrow', '/schedule/tomorrow' %> |
  <%= link_to 'All', '/schedule' %>
</div>