<div class="span10 offset1">
  <table class="table table-condensed table-striped" id="tblShowSlots">
    <thead>
    <th>Day</th>
    <th>Description</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Total Spots</th>
    <th>Spots Available</th>
    <th>Waiting</th>
    <th></th>
    </thead>
    <tbody id="tblSlots">
    <% @slots.each do |slot|%>
        <tr>
          <td><%= showday(slot.date)%></td>
          <td><%= slot.description %></td>
          <td><%= showtime(slot.start_time)%></td>
          <td><%= showtime(slot.end_time)%></td>
          <td><%= slot.spots %></td>
          <td><%= slot.available_spots %></td>
          <td><%= slot.waiting %></td>
          <td><%= link_to 'View Details', slot%></td>
        </tr>
    <% end %>
    </tbody>
    </table>

  <% if signed_in? && current_user.admin? %>
      <br><br>
      <a href="#" class="btn btn-primary" id="new">New Session</a>
      <%= render 'new_slot' %>
  <% end %>
</div>