<% provide(:title, "New Session") %>
<h1>Create New Rider Session</h1>

<div class="row">
  <div id="session_date" class="span10 offset4">
    <%= form_for(@slot) do |f| %>
        <%= render 'shared/errors', object: f.object %>
        <%= f.label :date %>
        <%= f.text_field :date %>

        <%= f.label :start_time %>
        <%= f.text_field :start_time %>

        <%= f.label :end_time %>
        <%= f.text_field :end_time %>

        <%= f.label :spots %>
        <%= f.text_field :spots %>
        <br>
        <%= f.submit "Create", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>
