<% provide(:title, "Sign in") %>
<h1>Create New Rider Session</h1>

<div class="row">
  <div class="span10 offset4">
    <%= form_for @slots do |slot| %>

        <%= slot.label :date %>
        <%= slot.text_field :date %>

        <%= slot.label :start_time %>
        <%= slot.text_field :start_time %>

        <%= slot.label :end_time %>
        <%= slot.text_field :end_time %>
        <br>
        <%= slot.submit "Create", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>