<h1>Multi-rider session Details</h1>
<h2><%= showday(@slot.date) %> Session at <%= showtime(@slot.start_time) %></h2>
<input type="hidden" id="slotDate" value=<%= @slot.date %>>
<input type="hidden" id="slotTime" value=<%= @slot.start_time %>>
<div class="container">
  <div class="span10 offset1">
    <table class="table table-condensed table-striped" id="tblSlot">
      <thead>
        <th>Name</th>
        <% if current_user.admin? %> <th>email</th> <% end %>
        <th>Ride Completed</th>
        <th>Status</th>
    </thead>
    <tbody>
      <% @riders.each_with_index do |r, i| %>
          <% if get_slot_state(r) == "Signed Up" %>
          <tr>
              <td><%= r.first_name %> <%= r.last_name %></td>
              <% if current_user.admin? %><td><%= r.email %></td><% end %>
              <td><%= slot_count(r) %></td>
              <td><%= get_slot_state(r)%></td>
          </tr>
          <% end %>
      <% end %>
      <% @riders.each_with_index do |r, i| %>
        <% if get_slot_state(r) == "Waiting" %>
            <tr>
              <td><%= r.first_name %> <%= r.last_name %></td>
              <% if current_user.admin? %><td><%= r.email %></td><% end %>
              <td><%= slot_count(r) %></td>
              <td><%= get_slot_state(r)%></td>
            </tr>
        <% end %>
    <% end %>
      </tbody>
      </table>
       <br>
    <br>
        <%= form_for @slot do |u|%>

            <% if signed_up?%>
                <%= u.submit "Remove Me", class:"btn btn-large btn-primary", id: "btnSession"  %>
            <% else %>
                <% if spots_available(@slot.id) == 0 %>
                    <%= u.submit "Join Waiting List", class: "btn btn-large btn-primary", id: "btnSession" %>
                <% else %>
                    <%= u.submit "Add Me", class: "btn btn-large btn-primary", id: "btnSession" %>
                <% end %>
            <% end %>
        <% end %>

  </div>
</div>