<% provide(:title, 'session')%>
<br>
<div class="row span12">
  <h3><%= @slot.description %></h3>
</div><hr>
<div class="row span12">
  <em>Day:</em> <strong><%= showday(@slot.date) %> </strong>
</div><br>
<div class="row span12">
  <em>Start:</em> <strong><%= showtime(@slot.start_time) %> </strong>
</div><br>
<div class="row span12">
  <em>End:</em> <strong><%= showtime(@slot.end_time) %> </strong>
</div>
<br>
<div class="row span12">
  <em>Total Spots:</em> <strong><%= @slot.spots %> </strong>
</div>
<br>
<div class="row span12">
  <em>Spots Available:</em> <strong><%= @slot.available_spots %> </strong>
</div>
<br>
<% if current_user.admin? %>
<div class="row span5">
  <%= link_to 'Edit', edit_slot_path(@slot) %> |
  <%= link_to 'Back', slots_path %>
</div>
<% end %>
<hr class="style-four">
<input type="hidden" id="slotDate" value=<%= @slot.date %>>
<input type="hidden" id="slotTime" value=<%= @slot.start_time %>>
<!--<div class="container">-->
  <!--<div class="span10 offset1">-->
  <div class="span10">
    <table class="table table-condensed table-striped" id="tblSlot">
      <thead>
        <th>Name</th>
        <% if current_user.admin? %> <th>email</th> <% end %>
        <th>Ride Completed</th>
        <th>Status</th>
    </thead>
    <tbody>
      <% @riders.each_with_index do |r, i| %>
          <tr>
              <td><%= r.user.name %></td>
              <% if current_user.admin? %><td><%= r.user.email %></td><% end %>
              <td><%= r.user.completed_rides %></td>
              <td><%= r.user.get_slot_state(params[:id])%></td>
          </tr>
      <% end %>
      <% @waiting.each_with_index do |w, i| %>
        <tr>
          <td><%= w.user.name %></td>
          <% if current_user.admin? %><td><%= w.user.email %></td><% end %>
          <td><%= w.user.completed_rides %></td>
          <td><%= w.user.get_slot_state(params[:id])%></td>
        </tr>
    <% end %>
      </tbody>
      </table>
       <br>
    <br>
        <%= form_for @slot do |u|%>
            <% if signed_up?%>
                <%= u.submit "Remove Me", :class => "btn btn-primary", :id => "btnSession"  %>
            <% else %>
                <% if @slot.available_spots == 0 %>
                    <%= u.submit "Join Waiting List", :class => "btn btn-primary", :id => "btnSession" %>
                <% else %>
                    <%= u.submit "Add Me", :class => "btn btn-primary", :id => "btnSession" %>
                <% end %>
            <% end %>
            <% if current_user.admin? %>-or- <%= link_to "add/remove a rider","#", :id => "btnAdminAddUser", :class => "btn btn-primary"  %><% end %>
        <% end %>
        <% if current_user.admin? %><%= render 'admin_add_user'%><% end %>

  </div>
<!--</div>-->