<h1>Multi-rider session Details</h1>
<h2><%= showday(@slot.date) %> Session at <%= showtime(@slot.start_time) %></h2>
<input type="hidden" id="slotDate" value=<%= @slot.date %>

<div class="container">
  <div class="span10 offset1">
    <table class="table table-condensed table-striped">
      <thead>
        <th>Rider Number</th>
        <th>Name</th>
        <th>email</th>
        <th>Status</th>
    </thead>
      <% @riders.each_with_index do |r, i| %>
          <tr>
              <td><%= i + 1 %></td>
              <td><%= r.first_name %> <%= r.last_name %></td>
              <td><%= r.email %></td>
              <td><%= get_slot_state(r) %></td>
          </tr>
      <% end %>
    </table>

    <%= form_for @slot do |u|%>

        <% if signed_up?%>
            <%= u.submit "Remove Me", class:"btn btn-large btn-primary", id: "btnSession"  %>
        <% else %>
            <% if spots_available(@slot.id) == 0 %>
                <%= u.submit "Join Waiting List", class: "btn btn-large btn-primary", id: "btnSession" %>
            <% else %>
                <%= u.submit "Add Me", class: "btn btn-large btn-primary", id: "btnSession" %>
            <% end %>
        <% end %>
    <% end %>

  </div>
</div>