
<% if signed_in? %>
    <div class="row">
      <aside class="span3">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/ride_details' %>
        </section>

      </aside>
      <div class="span9">
        <img src="/assets/pain_cave_banner.png"/>
        <%= render 'shared/message' %>
      </div>
    </div>
<% else %>
    <div class="span10 offset1">
    <img src="/assets/pain_cave_banner.png"/>
    <%= render 'shared/message' %>
    </div>
<% end %>

