
<% if signed_in? %>
    <div class="row-fluid">
      <!--<aside class="span3">-->
      <aside class="span3">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/ride_details' %>
        </section>

      </aside>
      <!--<div class="span9">-->
      <div class="span7">
        <img src="/assets/trifitlab_fuzzy.png"/>
        <%= render 'shared/message' %>
      </div>
    </div>
<% else %>
    <div class="span10">
    <img src="/assets/trifitlab_fuzzy.png"/>
    <%= render 'shared/message' %>
    </div>
<% end %>

