<%= provide(:title, 'Edit User') %>

<div class="row">
  <div class="span4 offset4">
    <h4>Edit Account: <%= @user.first_name %> <%= @user.last_name %></h4>
    <h4>ID: <%= @user.id %></h4>
    <%= form_for (@user) do |f| %>
        <%= render 'shared/errors', :object => f.object %>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name %>
        <%= f.text_field :last_name %>

        <%= f.label :email %>
        <%= f.text_field :email %>
        <br>
        <%= f.label :purchased_rides %>
        <%= f.text_field :purchased_rides %>

        <%= f.label :admin, "admin?"%><%= f.check_box :admin, :id => "chkAdmin"%>
        <%= f.label :active, "active?" %><%= f.check_box :active %>

        <br>
        <br>
        <%= f.submit "Update Account", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>