<h4>All Users</h4>
<hr class="style-four span10">
<!--<div class="container">-->
<div class="container-fluid">
  <!--<div class="span10 offset1">-->
  <div class="span10">
    <table id="tblUsers" class="table table-condensed table-striped">
      <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Admin</th>
          <th>Email Address</th>
          <th>Joined</th>
          <th>Remaining Rides</th>
          <th></th>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= is_admin(user) %></td>
          <td><%= user.email %></td>
          <td><%= time_ago_in_words(user.created_at) %></td>
          <td><%= ride_count(user) %></td>
          <td><%= link_to "Edit", user, :method => :edit%> |
            <%= link_to "Delete", user, :confirm => 'Are you sure?', :method => :delete%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>