<% provide(:title, @user.first_name) %>
<div class="row">
  <aside class="span2">
    <section>
      <h1>
       <%= @user.first_name %>
      </h1>
    </section>
  </aside>
  <% if @user.active? %>
      <div class="span8">
        <h2>upcoming rides</h2>
        <table class="table table-striped">
            <thead>
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Total Spots</th>
                <th>Spots Available</th>
                <th>Waiting</th>
            </thead>
            <tbody>
                <% @rides.each do |slot| %>
                <tr>
                    <td><%= link_to showday(slot.date), slot%></td>
                    <td><%= showtime(slot.start_time)%></td>
                    <td><%= showtime(slot.end_time)%></td>
                    <td><%= slot.spots %></td>
                    <td><%= spots_available(slot.id) %></td>
                    <td><%= waiting_list_count(slot.id) %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
      </div>
  <%else%>
      <div class="span6">
        <div class="hero-unit">
       <h4>
         <p>You account is inactive, an email has bee sent
            to <%= @user.email %>. Follow the link in the email to active you account
         </p>
       </h4>
      </div>
      </div>
  <% end %>
</div>

