<header class="navbar navbar-inverse navbar-fixed-top" >
  <div class="navbar-inner">
    <!--<div class="container">-->
    <div class="container-fluid">
      <nav>


        <ul class="nav pull-left">
          <li><%= link_to image_tag("/assets/img.jpg", :size => '35x35'), root_path %></li>
          <li><%= link_to "Home", root_path%></li>
          <li><%= link_to "Multi-rider Sessions", '/schedule/weekly' %></li>

          <% if !signed_in? %>
              <li><%= link_to "Sign in!", '/signin', :id => "btnLogin" %> </li>
          <% else %>
            <% if current_user.admin? %>
              <li><%= link_to "Users", users_path %></li>
            <% end %>
           <li><%= link_to "Sign Out", signout_path, :method => "delete" %></li>
          <% end %>
          <li><%= link_to "Help", '#', :id => 'btnHelp' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div id="frmHelp" title="Help">
    <p>Some help stuff</p>
</div>