<header class="navbar navbar-inverse navbar-fixed-top" >
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "triFitLab", root_path, class: "brand" %>
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Home", root_path, class: 'btn btn-mini btn-inverse' %></li>
          <li><%= link_to "Multi-rider Sessions", '/schedule/weekly', class: 'btn btn-mini btn-inverse' %></li>

          <% if !signed_in? %>
              <li><%= link_to "Sign in!", '/signin', id: "btnLogin", class: 'btn btn-mini btn-inverse' %> </li>
          <% else %>
            <% if current_user.admin? %>
              <li><%= link_to "Users", users_path, class: 'btn btn-mini btn-inverse' %></li>
            <% end %>
           <li><%= link_to "Sign Out", signout_path,class: 'btn btn-mini btn-inverse', method: "delete" %></li>
          <% end %>
          <li><%= link_to "Help", '#', id: 'btnHelp', class: 'btn btn-mini btn-inverse' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div id="frmHelp" title="Help">
    <p>Some help stuff</p>
</div>